/*----------  GOOGLE FONTS  ----------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*----------  VARIABLES  ----------*/
:root {
  /*----------  COLORS   ----------*/
  --clr-primary: #ea580c;
  --clr-grey-900: #111827;
  --clr-grey-600: #52525b;
  --clr-grey-100: #f3f4f6;
  --box-shadow-sm: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
  --nav-bar-height: 80px;
  --border-radius: 5px;
  /*----------  SPACING  ----------*/
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  --sp-lg: 1.5rem;
  --sp-xl: 2rem;
  --sp-2xl: 3rem;
  --sp-3xl: 4rem;
  /*----------  TYPOGRAPHY  ----------*/
  --font-family: "Poppins", sans-serif;
  --fs-lg: 1.5rem;
  /* 24px */
  --fs-md: 1.125rem;
  /* 18px */
  --fs-sm: 1rem;
  /* 16px */
  --fs-xs: 0.875rem;
  /* 14px */
  --fw-reg: 400;
  --fw-md: 500;
  --fw-bold: 700;
}

/*----------  CSS BASE  ----------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--fs-xs);
  font-weight: var(--fw-reg);
  color: var(--clr-grey-900);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

/*----------  COMPONENTS  ----------*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--sp-lg);
}

.btn {
  text-transform: uppercase;
  font-size: var(--fs-sm);
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
  background-color: var(--clr-grey-600);
  color: white;
  padding: 0.65rem 3rem;
  border-radius: var(--border-radius);
}

.btn--primary {
  background-color: var(--clr-primary);
  color: white;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.btn--primary:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0.2rem 0.5rem var(--clr-primary);
          box-shadow: 0 0.2rem 0.5rem var(--clr-primary);
}

/*----------  HEADER  ----------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--nav-bar-height);
}

.header .nav__logo > a {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  color: var(--clr-grey-900);
}

.header .nav__logo > a span {
  color: var(--clr-primary);
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--sp-lg);
}

.header .nav__menu__item {
  position: relative;
  color: var(--clr-grey-900);
  font-size: var(--fs-md);
  text-transform: capitalize;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header .nav__menu__item::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--clr-primary);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header .nav__menu__item:hover {
  color: var(--clr-primary);
}

.header .nav__menu__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .nav__menu__item.active {
  color: var(--clr-primary);
  font-weight: var(--fw-md);
}

.header .nav__menu__item.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .nav__cart {
  position: relative;
  font-size: var(--fs-lg);
}

.header .nav__cart__qty {
  position: absolute;
  left: 20px;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fs-xs);
  color: white;
  background-color: var(--clr-primary);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

/*----------  HERO  ----------*/
section#hero {
  position: relative;
  padding: var(--nav-bar-height) 0 0 0;
  background-color: var(--clr-grey-100);
  height: 100vh;
  max-height: 950px;
  overflow: hidden;
}

section#hero .big-circle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  opacity: 10%;
  background-color: var(--clr-primary);
}

/*----------  PRODUCTS SLIDER  ----------*/
.swiper.products-slider {
  width: 100%;
  height: 100vh;
  max-height: 950px;
}

.products-slider__item {
  position: relative;
}

.products-slider__item .item__image {
  position: absolute;
  max-width: 60%;
  top: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.products-slider__item .detail-card {
  position: absolute;
  top: 10rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: var(--sp-lg);
  border-radius: var(--border-radius);
  max-width: 350px;
}

.products-slider__item .detail-card .title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  margin-bottom: var(--sp-sm);
}

.products-slider__item .detail-card .description {
  color: var(--clr-grey-600);
  margin-bottom: var(--sp-lg);
}

.products-slider__pagination {
  position: absolute;
  top: 11rem;
  left: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sp-md);
}

.products-slider__pagination__item {
  cursor: pointer;
  font-size: var(--fs-md);
  color: var(--clr-grey-600);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.products-slider__pagination__item--active {
  padding-left: var(--sp-sm);
  font-size: var(--fs-lg);
  color: var(--clr-grey-900);
  font-weight: var(--fw-md);
}

/*----------  REVIEWS SLIDER  ----------*/
.reviews-container {
  position: absolute;
  bottom: 8rem;
  left: 0;
  right: 0;
}

.reviews-container .swiper.reviews-slider {
  overflow: visible;
}

.reviews-container .reviews-slider__item {
  -webkit-box-shadow: var(--box-shadow-sm);
          box-shadow: var(--box-shadow-sm);
}

.reviews-container .reviews-slider .review-card {
  background-color: white;
  padding: var(--sp-md);
  border-radius: var(--border-radius);
}

.reviews-container .reviews-slider .review-card .name {
  display: block;
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
  margin-bottom: var(--sp-xs);
}

.reviews-container .reviews-slider .review-card .name i {
  color: var(--clr-primary);
}

.reviews-container .reviews-slider .review-card .review {
  color: var(--clr-grey-600);
}
/*# sourceMappingURL=style.css.map */